	#login input {
		font-size: 18pt;
		margin-bottom: 3px;
		width: 200px;
	}
	#login button {
		font-size: 18pt;
	}
	#login h2 {
		font-size: 20pt;
	}
	#login {
		text-align: center;
		margin: 0 auto;
		width: 270px;
		font-size: 18pt;
	}
